
.imageone{
   position: absolute;
   color: rgb(255, 254, 254);
  text-align: center;
}
.imageone h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
     margin-left: 165px;
   
}
