.col h1 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Poppins", "Source Sans Pro", "Arial", sans-serif;
  color: #7a7878;
  text-transform: uppercase;
}
.btn button{
    padding:10px 20px;
    border-radius:8px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    cursor:pointer;
   text-decoration: none;
}
 .container_courses{
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .card{
    /* width:350px; */
    /* border-radius: var(--radius); */
    overflow: hidden;
    box-shadow: 0 8px 5px rgba(20,20,40,0.08);
    background: #fff;
    position: relative;
    cursor: pointer;
    --img-h: 300px;

  }

  .card img{
    display:block;
    height: 100%;
    width:100%;
    height: var(--img-h);
    object-fit: cover;
  }

  .info{
    padding: 12px 14px;
    background:#fff;
  }
  .title{
    font-size: 16px;
    font-weight: 600;
    color:#111827;
  }
  .subtitle{
    font-size: 13px;
    color:#6b7280;
  }

  /* Overlay panel */
  .hover-panel{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    background:rgba(0,0,0,0.75);
    color:white;
    transform:translateY(100%); /* hidden below card */
    transition: transform 0.35s ease;
  }
  .card:hover .hover-panel{
    transform:translateY(0); /* slide up to cover image */
  }

  .hover-panel h3{
    margin:0;
    font-size:20px;
  }
  .hover-panel p{
    margin:0;
    font-size:14px;
    opacity:0.85;
  }
  .btn{
    padding:8px 14px;
    border-radius:8px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    cursor:pointer;
  }
    .list-item {
      font-size: 16px;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-item:last-child {
      border-bottom: none;
    }

    .list-item span {
      font-weight: 600;
      color: #333;
    }

    .list-item span del {
      color: #d9534f;
      margin-right: 5px;
    }

    /* Highlight for total */
    .list-item:nth-child(2) span {
      color: #28a745;
      font-size: 18px;
    }

    /* Hover effect */
    .list-item:hover {
      background: #f1f9ff;
      transition: 0.3s;
    }
